.Tractor-Recevied{
    .first-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        background-color: #f8f9fa;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        font-size: 1.25rem;
        color: #333;
      }
    
      .first-section {
        font-weight: bold;
      }
    .second-section{
        display: flex;
        align-items: center;
        justify-content:end;
        font-size: 20px;
        font-weight: bold;
    .btn{
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
    }
    .btn-primary{
    background-color: #89d5f1;
      border: none;
    }
    }
}

@media(max-width:768px){
    .Tractor-Recevied{
        .first-heading{
            height: 50px;
        }
        .first-section{
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 15px;
            font-weight: bold;
        }
        .second-section{
            display: flex;
            align-items: center;
            justify-content: start;
           
          
        }
    }
}

@media(max-width:576px){
    .Tractor-Recevied{
        .first-heading{
            height: 75px;
        }
        .first-section{
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 15px;
            font-weight: bold;
        }
        .second-section{
            display: flex;
            align-items: center;
            justify-content: start;
           
          
        }
    }
}


  



